{
  "extends": [
    "airbnb-typescript",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/prop-types": "off",
    "react/require-default-props": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}