{
  "extends": [
    "airbnb-typescript",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "no-param-reassign": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}